# Tratamiento de datos de IMC para fusionarlos con SOLUSTDAtas_tratado.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SOLUSTDAtas_tratado.csv')
df.head()

                  date  open  high   low  close
0  2020-08-12 03:00:00  3.10  3.35  3.10   3.25
1  2020-08-12 04:00:00  3.25  3.25  3.15   3.15
2  2020-08-12 05:00:00  3.15  3.30  3.15   3.30
3  2020-08-12 06:00:00  3.30  3.30  3.15   3.30
4  2020-08-12 07:00:00  3.25  3.25  3.20   3.25

In [ ]:
df_IMC = pd.read_csv('Indice_miedo_codicia.csv')
df_IMC.head()

         date  value
0  22-10-2024     70
1  21-10-2024     72
2  20-10-2024     73
3  19-10-2024     72
4  18-10-2024     73

In [ ]:
df_IMC['date'] = pd.to_datetime(df_IMC['date'], format='%d-%m-%Y')  # Asigno el tipo datetime a la columna date
expanded_rows = []
for index, row in df_IMC.iterrows():    # Recorro todas las filas del dataframe
    date = row['date']  # Asigno a la variable date el valor de la columna date en esta fila
    value = row['value']    # Asigno a la variable value el valor de la columna value en esta fila
    for hour in range(24):  # Creo 24 filas, una por cada hora del día y las añado a la lista
        new_date = date.replace(hour=hour)
        expanded_rows.append({'date': new_date, 'value': value})
expanded_df = pd.DataFrame(expanded_rows)   # Genero un dataframe usando la lista

In [ ]:
start_date = '2020-08-12 03:00:00'  # Fecha de inicio
end_date = '2024-10-09 00:00:00'    # Fecha de fin
# Selecciono las filas cuya fecha sea posterior a start_date y anterior a end_date
filtered_df = expanded_df[(expanded_df['date'] >= start_date) & (expanded_df['date'] <= end_date)]
# Ordeno el dataframe por fecha, de la más antigua a la más reciente
df_fil_sort = filtered_df.sort_values('date').copy()
df_fil_sort

                     date  value
36771 2020-08-12 03:00:00     75
36772 2020-08-12 04:00:00     75
36773 2020-08-12 05:00:00     75
36774 2020-08-12 06:00:00     75
36775 2020-08-12 07:00:00     75
...                   ...    ...
356   2024-10-08 20:00:00     49
357   2024-10-08 21:00:00     49
358   2024-10-08 22:00:00     49
359   2024-10-08 23:00:00     49
312   2024-10-09 00:00:00     49

[36454 rows x 2 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date']) # Trasnformo la columna date al tipo datetime
df_fil_sort['date'] = pd.to_datetime(df_fil_sort['date'])   # Trasnformo la columna date al tipo datetime 
# Uno los dos dataframes a través de la fecha, agregando el valor correspondiente de la columna value cuando las fechas coincidan 
df = pd.merge(df, df_fil_sort, on='date', how='left')
df.to_csv('SolAtasIMC_tratado.csv', index=False)    # Guardo el dataframe